.login{
    border-radius: .5rem;
    box-shadow: 4px 4px 50px 1.5px greenyellow ;
    animation: shadow 11000ms  ease-in-out infinite;
    margin-left: 39vw;
    margin-top: 34vh;
    border:2px solid greenyellow;
    width: 25vw;
    height: 40vh;
    background-color: transparent;
    backdrop-filter:blur(6px);
}
.form{
    font-variant: small-caps;
    color: skyblue;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    margin-top:18%;
    text-align: center;
}
.form input{
    border-color: skyblue;
    font-size: 13px;
    color:skyblue;  
    background-color: rgba(0, 0, 0, 0.426);
    border-radius: .8rem;
    padding-block: .3rem;
    padding-inline: 2rem;
}
@keyframes shadow{
    0%{
        border-color: greenyellow;
        box-shadow: 4px 4px 50px 1.5px greenyellow;
    }
    4.1666%{
        box-shadow: 4px 4px 50px 1.5px gold;
        border-color: gold;
    }
    8.333%{
        box-shadow: 4px 4px 50px 1.5px orange;
        border-color: orange;
    }
    16.666%{
        box-shadow: 4px 4px 50px 1.5px red;
        border-color: red;
    }
    25%{
        box-shadow: 4px 4px 50px 1.5px pink;
        border-color: pink;
    }
    33.333%{
        box-shadow: 4px 4px 50px 1.5px blue;
        border-color: blue;
    }
    41.666%{
        box-shadow: 4px 4px 50px 1.5px indigo;
        border-color: indigo;
    }
    
    58.333%{
        box-shadow: 4px 4px 50px 1.5px violet;
        border-color: violet;
    }
    66.666%{
        box-shadow: 4px 4px 50px 1.5px teal;
        border-color: teal;
    }
    75%{
        box-shadow: 4px 4px 50px 1.5px limegreen;
        border-color: limegreen;
    }
    83.333%{
        box-shadow: 4px 4px 50px 1.5px green;
        border-color: green;
    }
    91.666%{
        box-shadow: 4px 4px 50px 1.5px yellow;
        border-color: yellow;
    }
    100%{
        box-shadow: 4px 4px 50px 1.5px rgb(255, 165, 80);
        border-color:rgb(255, 165, 80);
    }   
}
form button{
    padding-bottom: .5vh;
    padding-top: .5vh;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    font-size: 21px;
    border-radius: 1rem;
    color: skyblue;
    background-color:transparent;
    animation: button 11000ms ease-in-out infinite;
    backdrop-filter: blur(6px);
}
@keyframes button{
    0%{
        
        border-color: greenyellow;
    }
    4.1666%{
        border-color: gold;
    }
    8.333%{
        border-color: orange;
    }
    16.666%{
        border-color: red;
    }
    25%{
        border-color: pink;
    }
    33.333%{
        border-color: blue;
    }
    41.666%{
        border-color: indigo;
    }
    
    58.333%{
        border-color: violet;
    }
    66.666%{
        border-color: teal;
    }
    75%{
        border-color: limegreen;
    }
    83.333%{
        border-color: green;
    }
    91.666%{
        border-color: yellow;
    }
    100%{
        border-color:rgb(255, 165, 80);
    }   
}
form button:hover{
    background-color: rgba(0, 0, 0, 0.219);
    backdrop-filter: blur(6px);
}